ignored/
node_modules/
qtum-initiator/src/.api
qtum-initiator/.env-testnet
qtumtx-adapter/src/.api
qtumtx-adapter/.env-testnet
testnet-deploy/.deployerKey
testnet-deploy/build
testnet-deploy/package-lock.json
.api